<form role="form" name="NewLearnerForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Learner Details</legend>

        <div class="form-group" show-errors>
            <label for="schoolName" class="col-sm-3 control-label">School:</label>
            <div class="col-sm-9">
                <select name="schoolName" ng-model="?Model.learnerId" class="form-control" ng-required="true">
                    <option value="">--Select--</option>
                    <option ng-repeat="school in schoolList" value="{{learner.id}}"></option>
                </select>
                <span class="help-block" ng-show="NewLearnerForm.$invalid">School Name Required</span>
            </div>
        </div>


        <div class="form-group" show-errors>
            <label for="learnerName" class="col-sm-3 control-label">Learner Name:</label>
            <div class="col-sm-9">
                <input name="learnerName" type="text" ng-model="LearnerModel.learnerName" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewLearnerForm.learnerName.$invalid">Learner Name Required</span>
            </div>
        </div>


        <div class="form-group" show-errors>
            <label for="learnerSurname" class="col-sm-3 control-label">Learner Surname:</label>
            <div class="col-sm-9">
                <input name="learnerSurname" type="text" ng-model="LearnerModel.learnerName" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewLearnerForm.?Name.$invalid">Learner Surname Required</span>
            </div>
        </div>



        <div class="form-group" show-errors>
            <label for="projectName" class="col-sm-3 control-label">Project Name:</label>
            <div class="col-sm-9">
                <input name="projectName" type="text" ng-model="projectModel.projectName" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewLearnerForm.projectName.$invalid">Project Name Required</span>
            </div>
        </div>


        <div class="form-group" show-errors>
            <label for="RegistrationNum" class="col-sm-3 control-label">Registration Number :</label>
            <div class="col-sm-9">
                <input name="RegistrationNum" type="text" ng-model="LearnerModel.telephone" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewLearnerForm.RegistrationNum.$invalid">Registration Number Required</span>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="IdPassportNum" class="col-sm-3 control-label">Id Number:</label>
            <div class="col-sm-9">
                <input name="IdPassportNum" type="text" ng-model="LearnerModel.IdPassportNum" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewLearnerForm.IdPassportNum.$invalid">Id number Required</span>
            </div>
        </div>



    </fieldset>

    <div class="col-sm-offset-3 col-sm-9">
        <input type="reset" class="btn btn-warning" value="Reset" ng-click="resetForm()" />
        <input type="submit" class="btn btn-primary" value="Save Learner" ng-click="submitForm()" />
    </div>

</form>

