<h1>Do some school maintenance here</h1>

<p>have a look at the Client Maintenance in ZAMO that should get you started with school maintenance</p>



<div class="row top-buffer">
    <input type="button" ng-click="newLearner()" value="New" class="btn btn-default" />
</div>
<br />
<div class="row top-buffer">
    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    <a ng-click="sort('LearnerName')">Learner</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='LearnerName'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='LearnerName'}"></i>
                </th>
                <th>
                    <a ng-click="sort('status')">Status</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='clientName'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='clientName'}"></i>
                </th>
                <th>
                    <a ng-click="sort('IdPassportNum')">Id Passport Number</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='IdPassportNum'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='IdPassportNum'}"></i>
                </th>
                <th>
                    <a ng-click="sort('city')">City</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='city'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='city'}"></i>
                </th>
                <th>
                    <a ng-click="sort('addressline1')">Address Line 1</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='addressline1'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='addressline1'}"></i>
                </th>
                <th>
                    <a ng-click="sort('addressline2')">Address Line 2</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='addressline2'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='addressline2'}"></i>
                </th>
                <th>
                    <a ng-click="sort('postalcode')">Postal Code</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='postalcode'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='postalcode'}"></i>
                </th>
                <th>
                    <a ng-click="sort('telephonenumber')">Telephone Number</a>
                    <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='telephonenumber'}"></i>
                    <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='telephonenumber'}"></i>
                </th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody data-ng-repeat="i in clientGrid">
            <tr>
                <td>{{i.LearnerName}}</td>
                <td>{{i.status}}</td>
                <td>{{i.IdPassportNum}}</td>
                <td>{{i.city}}</td>
                <td>{{i.addressLine1}}</td>
                <td>{{i.addressLine2}}</td>
                <td>{{i.postalCode}}</td>
                <td>{{i.telephonenumber}}</td>
                <td><a href="/#/EditLearner/{{i.id}}">Edit</a></td>
            </tr>

        </tbody>
    </table>

    <span data-pagination data-total-items="totalItems" data-ng-model="currentPage" data-max-size="numberOfPageButtons" class=" pagination-sm" data-boundary-links="true" data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="recordsPerPage"></span>

</div>